/* Reset the styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset the default styles for specific elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Additional reset rules for specific elements */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Reset the default styles for form elements */
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  vertical-align: middle;
}

/* Reset the default styles for images */
img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
